*{
    font-family: 'Courier New', Courier, monospace;
}
thead{
    background-color: #bdc7e7;;
    color: black
}
td{
    height: 2em; 
    font-size: 120%;
}
th{
    font-size: 120%;
}
table, td, th{
    border: 2px white solid;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
table tr:hover {
    background-color: rgba(207, 173, 230, 0.438);
    cursor: pointer;
}
table tr{
    background-color: #bdc7e727;
}

section{
    margin-top: 1px;
    background: #4f889c27;
    margin-block-end: 15px;
    justify-content: center;            
    text-align: center;
}

div{
    justify-content: center;            
    display: flex;
    flex-direction: row;
}
h2{    
    justify-content: center;            
    text-align: center;
}
p{
    font-size: 140%;
}
